@font-face {
    font-family: "Plus Jakarta Sans";
    src: url("../assets/fonts/PlusJakartaSans-VariableFont_wght.ttf");
}

:root {
    --azul-claro: #e0f2f2;
    --verde-limon: #cadf2f;
    --blanco: #ffffff;
    --casi-negro: #070f59;
    --casi-negro-2: #030837;
    --gris-azulado: #cfcfeb;
    --dorado-claro: #f5f3cf;
    --rojo-error: #d92113;

    font-size: 14px;
}

/* Estilos generales */
* {
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

/* Contenedor de todo (reemplaza al body) */
.contenedor-de-todo {
    width: 100%;
    min-height: 100vh;
    min-width: 320px;
    background-color: var(--azul-claro);
}

/* Contenedor principal */
.contenedor-principal {
    background-color: var(--blanco);
    max-width: 799.5px;
}

/* Formulario */
.input-group {
    border: 2px solid #ccc;
    border-radius: 6px;
}

.columna-del-formulario .input-group span {
    background-color: var(--azul-claro);
}

/* Bootstrap por defecto aplica un shadow al input en estado focus, con esto lo evitamos */
/* El borde que traía anteriormente se suma al que aplicaremos. Hay que quitarlo */
.form-control:focus {
    border: none;
    box-shadow: none;
}

.columna-del-formulario .input-group:has(.form-control:focus) {
    border: 2px solid var(--verde-limon);
    border-radius: 6px;
}

/* ------------ Coloreando los span de los formularios ------------------- */
/* Si el span aparece antes del input de tipo text */
.columna-del-formulario .input-group .input-group-text:has(+ .form-control:focus) {
    background-color: var(--verde-limon);
}

/* Si el span aparece después del input de tipo text */
.columna-del-formulario .input-group .form-control:focus+.input-group-text {
    background-color: var(--verde-limon);
}


/* --------------- Radio button inputs ----------------- */
.columna-del-formulario label.input-radio-personalizado {
    border-radius: 6px;
}
.columna-del-formulario label.input-radio-personalizado:hover {
    cursor: pointer;
    border-color: var(--verde-limon) !important;
}

/* Ocultar el input nativo del radio button */
input[type="radio"] {
    display: none;
}

/* Nuevo círculo del radio button */
.input-radio-personalizado .circulo-de-check {
    height: 12px;
    width: 12px;
    background-color: var(--blanco);
    border: 1px solid #ccc;
    border-radius: 50%;
    display: inline-block;
    position: relative;
}

/* Estilo cuando el radio button está seleccionado */
input[type="radio"]:checked+.circulo-de-check {
    background-color: var(--dorado-claro);
    border-color: var(--verde-limon);
}

/* Círculo interior cuando está seleccionado */
input[type="radio"]:checked+.circulo-de-check::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 6px;
    height: 6px;
    background-color: var(--verde-limon);
    border-radius: 50%;
}

.columna-del-formulario label.input-radio-personalizado:has(input.form-check-input:checked) {
    background-color: var(--dorado-claro);
    border-color: var(--verde-limon) !important;
}


.columna-del-formulario button {
    height: 40px;
    background-color: var(--verde-limon);
    border-color: var(--verde-limon);
    border-radius: 20px;
}

.columna-del-formulario button:focus {
    box-shadow: none;
}

.columna-del-formulario button .icono-boton {
    width: 15px;
}

/* Resultados */
.columna-de-resultados {
    background-color: var(--casi-negro);
}

.columna-de-resultados .texto-columna-resultados {
    color: var(--gris-azulado);
}

.caja-de-resultados {
    border-top: 4px solid #cadf2f;
    border-radius: 5px;
    background-color: var(--casi-negro-2);
}

.resultado {
    color: var(--verde-limon);
    font-size: 30px;
}

.caja-de-resultados .total-repay {
    font-size: 20px;
}

/* Validaciones */
.radio-inputs-fieldset {
    margin-bottom: 15px;
}

.error {
    color: var(--rojo-error);
    font-size: smaller;
    margin-top: -10px;
}

.input-group.has-error {
    border-color: var(--rojo-error);
}

.input-group.has-error span {
    background-color: var(--rojo-error);
    color: white;
}


/* Attribution */
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* Media queries */
@media screen and (max-width: 767px) {
    .columna-del-formulario button#boton_de_limpiar {
        margin-top: 10px;
    }
}

@media screen and (min-width: 768px) {
    .contenedor-principal {
        border-radius: 10px;
    }

    .columna-del-formulario button {
        width: 75% !important;
    }

    .columna-de-resultados {
        /* Sumamos el tamaño del content y los paddings de la columna del formulario */
        /* height: calc(371.75 + 21 + 42) */
        /* height: 434.75px; */
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 75px;
    }
}